/* Подвал сайта */	
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 0px;
	height: 90px;
	width: 100%;
	background: #0a2a0a;
	position: relative;
	z-index: 3;
	margin-top: 30px;
	}

.footer a {
	font-family: HelveticaThin;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}

.footer i {
	color: #fff;
	padding-right: 15px;
}

.copyright ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.copyright li {
	padding-top: 5px;
	text-align: center;
}

.links ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.links li {
	padding-top: 5px;
	text-align: center;
}

.social ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.social li {
	padding-top: 5px;
	text-align: center;
}