.goods {
	display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.good  {
  width: 220px;
  border: 1px solid black;
  margin: 0px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.good_img {
  padding: 5px 10px 5px 10px;
  width: 200px;
}

.button, .price {
  text-align: center;
}

.strike_price {
  text-decoration: line-through;
	color: red; 
}

.good_button {
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
	border: 1px solid #A4A4A4;
}

@media screen and (max-width: 480px) {
	.good_img {
		width: 170px;
	}
}